[submodule "dependencies/CASE"]
	path = dependencies/CASE
	url = https://github.com/casework/CASE.git
[submodule "dependencies/CASE-develop"]
	path = dependencies/CASE-develop
	url = https://github.com/casework/CASE.git
[submodule "dependencies/CASE-unstable"]
	path = dependencies/CASE-unstable
	url = https://github.com/casework/CASE-Archive.git
[submodule "dependencies/UCO-develop"]
	path = dependencies/UCO-develop
	url = https://github.com/ucoProject/UCO.git
[submodule "dependencies/cito"]
	path = dependencies/cito
	url = https://github.com/SPAROntologies/cito.git
[submodule "dependencies/swan-ontology"]
	path = dependencies/swan-ontology
	url = https://github.com/pav-ontology/swan-ontology.git
